<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Cinemas Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarContent" aria-controls="navBarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navBarContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cinemas" routerLinkActive="active">Cinemas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies" routerLinkActive="active">Movies</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="nav-link" *ngIf=(roleUser) routerLink="/manage/users" routerLinkActive="active"><button class="btn btn-outline-success my-2 my-sm-0" type="button">Users</button></a>
      <button (click)="logout()"  class="btn btn-outline-danger my-2 my-sm-0" type="button">Logout</button>
    </form>
  </div>
</nav>
