
  <div class="modal-new-cinema">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit a <span> Room</span></h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="d-flex flex-row group">
      <p>Select movie:</p>
      <select id="sel3" [(ngModel)]="movie" >
        <option *ngFor="let movie of movies$ | async">{{movie.title}}</option>
      </select>
    </div>

    <div class="form-group">
      <div class="d-flex flex-row">
        <p>Number of queues of the room: </p>
        <input id="inputNqueues" name="nQueues" type="number" class="form-control" [(ngModel)]="numberOfQueues" placeholder=""
          required>
      </div>
    </div>

    <div class="form-group">
      <div class="d-flex flex-row">
        <p>Number of seats per queue: </p>
        <input id="inputNseats" name="nSeats" type="number" class="form-control" [(ngModel)]="numberOfSeatsPerQueue" placeholder=""
          required>
      </div>
    </div>
  <div class="text-center">
    <button type="submit" (click)="editRoom()" class="btn btnSubmit">Update</button>
  </div>
  </div>
