<div class="table-responsive">
  <table class="table" [ngClass]='theme'>
    <thead>
      <tr>
        <th *ngFor="let col of header">
          {{col}}
        </th>
        <!-- Actions -->
        <th>
            <a class="delete" title="Delete" data-toggle="tooltip"></a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data$ | async" >
        <td *ngFor="let col of header" (click)="clickedRow(row)">
          {{row[col]}}
        </td>
        <!-- Actions -->
        <td>
        <a title="Edit"><i class="material-icons">edit</i></a><a class="delete" title="Delete"><i class="material-icons delete" (click)="clickDelete(row)">&#xE872;</i></a>
      </td>
      </tr>
    </tbody>
  </table>
</div>
