
.table-responsive{
    margin: auto;
    margin-top: 3rem;
    height:300px;
    overflow:auto;  
    text-align: center;
}
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: rgb(177, 182, 182);
}

tr {
    cursor: pointer;
}
th, thead{
    border: 1px solid black;
}

.delete{
    color:rgb(145, 9, 9);
}
.icons{
    display:flex;
    flex-direction: row;
    width: 1rem;
}
.data{
    min-width: 120px;
}