@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

.table-responsive{
    margin: auto;
    height:600px;
    overflow:auto;
    text-align: center;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: rgb(177, 182, 182);
}

tr {
    cursor: pointer;
}


.delete{
    color:rgb(145, 9, 9);
}
.icons{
    padding: 2px;
}
.data{
    min-width: 120px;
}

/* Table Container */

.tableContainer{

}

/* Table Header */
thead{
  background-color: rgb(246, 249, 252);
  color: rgb(141, 157, 176);
  text-transform: uppercase;
  text-align: left;
  border-bottom: 1px solid rgb(234, 237, 240);
  border-top: 1px solid rgb(234, 237, 240);
}

thead tr th{
  border: none;
  font-size: 15px;
  font-weight: normal;
}
