@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

/* Main Settings */
table{
  margin-bottom: 0;
}

/* Table Container */
.table-responsive {
  margin: auto;
  height: 100%;
  overflow: auto;
  text-align: center;
}

/* Table Header */
thead {
  background-color: rgb(246, 249, 252);
  color: rgb(141, 157, 176);
  text-transform: uppercase;
  text-align: left;
  border-top: 1px solid rgb(234, 237, 240);
}

thead tr th {
  border: none;
  font-size: 14px;
  font-weight: normal;
}

/* Table Body */
tbody{
  text-align: left;
}

.table td, .table th{
  padding: 1rem;
}

tbody tr td{

  border: none;
  border-top: 1px solid rgb(234, 237, 240);
}

/* Hover Row */
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: rgb(238, 241, 241);
}

tr {
  cursor: pointer;
}

/* Icons from Actions */
.cellactions{
  text-align: center;
  border: 1px red solid;
}

.cellactions .edit{
  margin-right: 7.5px;
  color: rgb(172, 181, 190);
}

.cellactions .edit:hover{
  color: #001F54;
}

.cellactions .delete{
  margin-left: 7.5px;
  color: rgb(172, 181, 190);
}

.cellactions .delete:hover{
  color: rgb(155, 3, 3);
}
.tickets{
  color: rgb(172, 181, 190);
}

.tickets:hover{
  color: goldenrod;
}

.screan{
    color: rgb(167, 192, 218);
}
.screan:hover{
  color: blue;
}
/* Movies Table Style */
.data {
  min-width: 120px;
}

/* Users Table Custom Style */
.bold{
  font-weight: 900;
  font-size: 16px;
}

.color-light{
  color: rgb(172, 181, 190);
}
