<div class="table-responsive">
  <table class="table" [ngClass]='theme'>
    <thead>
      <tr>
        <th *ngFor="let col of header">
          {{col}}
        </th>
        <!-- Actions -->
        <th>
          <input type="checkbox" aria-label="">
        </th>
        <th>
            <a class="delete" title="Delete" data-toggle="tooltip"></a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data$ | async" (click)="clickedRow(row)">
        <td *ngFor="let col of header">
          {{row[col]}}
        </td>
        <!-- Actions -->
        <td>
          <input type="checkbox" aria-label="">
        </td>
        <td>
        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons" (click)="clickDelete(row)">&#xE872;</i></a>
      </td>
      </tr>
    </tbody>
  </table>
</div>
