<div class="table-responsive">
  <table class="table" [ngClass]='theme'>
    <thead>
      <tr>
        <th *ngFor="let col of headerRename" [ngClass]="{'data': col=='endDate' || col=='releaseDate'}">
          {{col}}
        </th>
        <!-- Actions -->
        <th>
          <a class="icons" title="Delete" data-toggle="tooltip"></a>
        </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data$ | async">
        <td *ngFor="let col of header" (click)="clickedRow(row)">
         <p *ngIf="col!=='details'">{{row[col]}}</p>
         <div class="row"><div class="col-sm-4"></div><div class="col-sm-1"><p *ngIf="col==='details'"><i class="material-icons screan" title="Rooms" (click)="clickSeeRooms(row)">
          personal_video
          </i></p></div><div class="col-sm-1"><p *ngIf="col==='details'"><i class="fas fa-ticket-alt" title="Tickets" (click)="clickSeeTickets(row)"></i></p></div><div class="col-sm-4"></div>
        </div>
        </td>
        <!-- Actions -->
        <td class="cellactions">

          <a title="Edit"><i class="material-icons edit" (click)="clickEdit(row)">edit</i></a>
          <a title="Delete"><i class="material-icons delete" (click)="clickDelete(row)">&#xE872;</i></a>

        </td>
      </tr>
    </tbody>
  </table>
</div>
