
<div class="rooms-section">
    <div class="d-flex flex-column containerTable">
      <div class="d-flex flex-row containerHeader">
        <h4>Manage Rooms</h4>
        <button (click)="addNew()" class="ml-auto"><i class="fas fa-folder-plus"></i> Create new</button>
      </div>
      <app-table [header]='["cinema","movie","numberOfQueues","numberOfSeatsPerQueue"]' [data$]='roomsString$' [theme]='"table-bordered"'
            (delete)=handleDelete($event) (edit)=handleEdit($event) ></app-table>
    </div>
  </div>
