<div class="modal-header">
  <h4 class="modal-title pull-left">Movie Details</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="text-center">
        <img class="card-img-top" src={{image}} alt="Card image cap">
        <br>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="">
        <h1>{{title}}</h1>
        <p>{{minimumAge}}</p>
        <hr>
        <p><b>Duration: </b>{{duration}}</p>
        <p><b>Release Date:</b></p>
        <div class="row">
          <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <label for="sel1">Day:</label>
            <select id="sel11" [(ngModel)]="dayRelease" *ngIf="monthRelease==='April'|| monthRelease==='June'|| monthRelease==='September'|| monthRelease==='November'">
              <option *ngFor="let day of optionsDay2" value="{{day}}">{{day}}</option>
            </select>
            <select id="sel12" [(ngModel)]="dayRelease" *ngIf="monthRelease===''|| monthRelease==='January'|| monthRelease==='March'|| monthRelease==='May'|| monthRelease==='July'|| monthRelease==='August'|| monthRelease==='December'">
              <option *ngFor="let day of optionsDay1" value="{{day}}">{{day}}</option>
            </select>
            <select id="sel13" [(ngModel)]="dayRelease" *ngIf="monthRelease==='February' && isLeapYear(yearRelease)">
              <option *ngFor="let day of optionsDay3" value="{{day}}">{{day}}</option>
            </select>
            <select id="sel14" [(ngModel)]="dayRelease" *ngIf="monthRelease==='February' && !isLeapYear(yearRelease)">
              <option *ngFor="let day of optionsDay4" value="{{day}}">{{day}}</option>
            </select>
          </div>
          <div class="form-group col-sm-12 col-md-5 col-lg-5">
            <label for="sel2">Month:</label>
            <select id="sel2"[(ngModel)]="monthRelease">
              <option>January</option>
              <option>February</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
            </select>
          </div>
          <div class="form-group" class="col-sm-12 col-md-4 col-lg-4">
            <label for="sel3">Year:</label>
            <select id="sel3" [(ngModel)]="yearRelease">
              <option *ngFor="let year of years"value="{{year}}">{{year}}</option>
            </select>
          </div>
        </div>
        <p><b>End Date:</b></p>
        <div class="row">
          <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <label for="">Day:</label>
            <select [(ngModel)]="dayEnd" *ngIf="monthEnd==='April'|| monthEnd==='June'|| monthEnd==='September'|| monthEnd==='November'">
              <option *ngFor="let day of optionsDay2" value="{{day}}">{{day}}</option>
            </select>
            <select [(ngModel)]="dayEnd" *ngIf="monthEnd===''|| monthEnd==='January'|| monthEnd==='March'|| monthEnd==='May'|| monthEnd==='July'|| monthEnd==='August'|| monthEnd==='December'">
              <option *ngFor="let day of optionsDay1" value="{{day}}">{{day}}</option>
            </select>
            <select  [(ngModel)]="dayEnd" *ngIf="monthEnd==='February' && isLeapYear(yearEnd)">
              <option *ngFor="let day of optionsDay3" value="{{day}}">{{day}}</option>
            </select>
            <select  [(ngModel)]="dayEnd" *ngIf="monthEnd==='February' && !isLeapYear(yearEnd)">
              <option *ngFor="let day of optionsDay4" value="{{day}}">{{day}}</option>
            </select>
          </div>
          <div class="form-group col-sm-12 col-md-5 col-lg-5">
            <label for="sel5">Month:</label>
            <select id="sel5" [(ngModel)]="monthEnd" >
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
            </select>
          </div>
          <div class="form-group" class="col-sm-12 col-md-4 col-lg-4">
            <label for="sel6">Year:</label>
            <select id="sel6" [(ngModel)]="yearEnd" >
              <option *ngFor="let year of years" >{{year}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
            <p><b>Choose minimum age:</b></p>
            <select id="sel5" [(ngModel)]="minimumAgeNew">
                <option>6</option>
                <option>8</option>
                <option>10</option>
                <option>12</option>
                <option>14</option>
                <option>16</option>
                <option>18</option>
            </select>
          </div>
        <p><b>Director: </b>{{director}}</p>
        <p><b>Cast: </b>{{cast}}</p>
        <hr>
        <p><b>Synopsis: </b>{{synopsis}}
        </p>
      </div>
    </div>
  </div>
  <p class="error">{{error}}</p>
</div>
<button (click)="editMovie()">Submit Changes</button>
