<div class="modal-header">
  <h4 class="modal-title pull-left">Edit user: <span>{{ name }}</span></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="_modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #editUser="ngForm" (ngSubmit)="updateUser()" class="edit-user">
    <div class="d-flex flex-row">
    <!-- Name Field -->
    <div class="form-group" [class.is-invalid]="newName.touched && newName.invalid" [class.is-valid]="newName.valid">
      <div class="icon">
        <i class="fas fa-user-tie"></i>
        <input id="name" name="name" [(ngModel)]="account.name" type="text" class="form-control" placeholder="{{ name }}"
          minlength="3" pattern="[a-zA-Z ]*" #newName="ngModel">
      </div>
      <span class="form-text" *ngIf="newName.touched && newName?.errors?.pattern">
        Only text is available
      </span>
      <span class="form-text" *ngIf="newName.touched && !newName?.errors?.pattern && newName?.errors?.minlength">
        Name required three caractheres minimum
      </span>
    </div>
    <!-- Username Field -->
    <div class="form-group" [class.is-invalid]="newUsername.touched && newUsername.invalid" [class.is-valid]="newUsername.valid">
      <div class="icon">
        <i class="fas fa-user-tag"></i>
        <input id="username" name="username" [(ngModel)]="account.username" type="text" class="form-control"
          placeholder="{{ username }}" minlength="3" pattern="[a-zA-Z0-9 ]*" #newUsername="ngModel">
      </div>
      <span class="form-text marginLeftTenPx" *ngIf="newUsername.touched && newUsername?.errors?.pattern">
        Only text and numbers are available
      </span>
      <span class="form-text marginLeftTenPx" *ngIf="newUsername.touched && !newUsername?.errors?.pattern && newUsername?.errors?.minlength">
        Username required three caractheres minimum
      </span>
    </div>
  </div>
    <!-- Email Field -->
    <div class="form-group" [class.is-invalid]="newEmail.touched && newEmail.invalid" [class.is-valid]="newEmail.valid">
      <div class="icon">
        <i class="fas fa-envelope"></i>
        <input id="email" name="email" type="text" [(ngModel)]="account.email" type="text" class="form-control"
          placeholder="{{ email }}" email #newEmail="ngModel">
      </div>
      <span class="form-text marginLeftTenPx" *ngIf="newEmail.touched && newEmail?.errors?.email">
        This type of email is invalid
      </span>
    </div>
    <div class="form-group">
      <select name="role" id="role" [(ngModel)]="role" class="form-control">
        <option *ngFor="let i of roles" value="{{ i }}">{{ i }}</option>
      </select>
    </div>
    <div class="d-flex flex-row">
      <button (click)="resetPwd()" class="btn btnPwd float-right">Reset Password</button>
      <button type="submit" class="btn btnSubmit float-right">Update</button>
    </div>
    <span>* Reset password will generate a new password and send to the user email.</span>
  </form>
</div>
