@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
/*
#FCFCFF
#1B1B1E
#001F54
#03519B
#1282A2
*/

/* Modal */
.modal-body{
  padding: 10px;
}

/* Header */
.modal-header{
  border-bottom: 2px solid #001F54;
}
.modal-title{
  color: #001F54;
  font-size: 35px;
}
.modal-title span {
  color: #03519B;
  font-weight: lighter;
}
.close{
  margin: -1.8rem -1rem -1rem auto;
}
.close span{
  font-size: 50px;
  color: #001F54;
}

/* Form */
.modal-body{
  margin-top: 15px;
}
.form-group input, textarea{
  border: 0;
  border-radius: 0;
  outline: none;
  background: #FCFCFF;
  border-bottom: 1px solid #1B1B1E;
  color: #1B1B1E;
}
::-webkit-input-placeholder {
  color: #1B1B1E;
}
.form-group textarea{
  background-color: #FCFCFF;
}
.form-group #from_name{
  width: 298px;
  text-indent: 25px;
}

.form-group #subject{
  text-indent: 25px;
}

.icon{
  position: relative;
  margin: 0 auto;
}
.icon .fa-user-tie, .fa-envelope, .fa-receipt, .fa-scroll{
  position: absolute;
  left: 10px;
  top: 10px;
  color: #001F54;
  font-size: 1.125rem;
}
.fa-scroll{
  left: 8px;
  font-size: 1rem;
}
.fa-envelope{
  left: 20px;
}

.form-group #reply_to{
  width: 470px;
  margin-left: 10px;
  text-indent: 25px;
}
.form-group #message_html{
  height: 200px;
  resize: none;
  text-indent: 25px;
}
/* ------------- */

.btnSubmit:disabled{
  background: #03519B;
}

.btnSubmit{
  border: 0;
  background: #1282A2;
  color: #DFDEEE;
  border-radius: 5px;
  width: 320px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

/* Correct margin of input on span error */
.marginLeftTenPx{
  margin-left: 10px;
}

/* States Validations */
.form-group input[type="text"]:focus, .form-group textarea:focus {
  border-bottom: 1px solid #79A6FE;
}
.is-invalid span{
  color: red;
  font-size: 12px;
}
.is-invalid .icon input,.is-invalid .icon textarea{
  border-bottom: 0.5px solid rgb(167, 3, 3);
}
.is-invalid .icon .fas{
  color: rgb(139, 3, 3);
}

.is-valid .icon input,.is-valid .icon textarea{
  border-bottom: 0.5px solid #03519B;
}
.is-valid .icon .fas{
  color: #1282A2;
}

