<div class="cinemas container" *ngIf="this.isButtonVisible">
    <div class="row">

        <div class="col-sm-12 col-md-1 col-lg-1"></div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" (click)="this.isButtonVisible = false">
                <span aria-hidden="true">&times;</span>
              </button>
        <div class="col-sm-12 col-md-10 col-lg-10 cinemasBox">

            <h2 class="text-center cinemasPage"> Rooms </h2>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1">
        </div>
    </div>
    <br>
    <div class="container">
        <button type="button" style="float: left" class="btn btn-info add-new" (click)="addNew()"><i class="fa fa-plus"></i>
            Add New</button>
        <app-table [header]='["cinema","movie","numberOfQueues","numberOfSeatsPerQueue"]' [data$]='roomsString$' [theme]='"table-bordered"'
            (delete)=handleDelete($event) (edit)=handleEdit($event) ></app-table>
    </div>
    <br>
</div>