<br>
<div class="cinemas container">
    <div class="row">
        <div class="col-sm-12 col-md-1 col-lg-1"></div>
        <div class="col-sm-12 col-md-10 col-lg-10 cinemasBox">

            <h2 class="text-center cinemasPage">cinema.name </h2>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1">
        </div>
    </div>
    <br>
    <div class="container">
        <button type="button" style="float: left" class="btn btn-info add-new" (click)="addNew()"><i class="fa fa-plus"></i>
            Add New</button>
        <app-table [header]='["movie.id","cinema.id","numberOfQueues","numberOfSeatsPerQueue"]' [data$]='rooms$' [theme]='"table-bordered"'
            (delete)=handleDelete($event) (edit)=handleEdit($event)></app-table>
    </div>
    <br>
</div>