<div class="movies-section">
  <div class="d-flex flex-column containerTable">
    <div class="d-flex flex-row containerHeader">
      <h4>Manage Movies</h4>
      <button (click)="addNew()" class="ml-auto"><i class="fas fa-folder-plus"></i> Create new</button>
    </div>
    <app-table [header]='["title", "releaseDate","endDate" ]' [data$]='movies$' [theme]='"table-bordered"'
      (edit)="handleEdit($event)" (delete)="handleDelete($event)" (selectedRow)="handleSelectedRow($event)"></app-table>
  </div>
</div>
