.tableMovies{
    margin-top: 3rem;
}
.mousehover {
    cursor: pointer;
}
h2 {
    color:rgb(30, 80, 95);
}
.moviesPage{
    color: black;
}
.moviesBox{
    outline: thick ridge pink;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid rgb(172, 3, 3); 
    cursor: pointer;
    width: 150px;
  }