<br>
<div class="movies container">
    <div class="row">
            <div class="col-sm-12 col-md-1 col-lg-1"></div>
                    <div class="col-sm-12 col-md-10 col-lg-10 moviesBox">

                    <h2 class="text-center moviesPage" >My Movies </h2>
                </div>
<div class="col-sm-12 col-md-1 col-lg-1">
</div></div>
<br>
<div class="container">
<button type="button" style= "float: right"class="btn btn-info add-new" (click)="addNew()"><i class="fa fa-plus"></i> Add New</button>
<app-table [header]='["title","duration","cast","director","minimumAge","releaseDate","endDate" ]' [data$]='movies$' [theme]='"table-bordered"' (edit)="handleEdit($event)" (delete)="handleDelete($event)" (selectedRow)="handleSelectedRow($event)"></app-table>
</div>
<br>

</div>