<section class="login-block">
  <img src="https://imagizer.imageshack.com/v2/1024x768q90/922/vEfdrN.png" alt="Jarvis your TicketLine" width="220">
  <div class="container">
    <div class="header">
      <h4 class="text-center">Admin<span>Dashboard</span></h4>
      <h5 class="text-center">Sign in to your account</h5>
    </div>
    <form #formLogin="ngForm" (ngSubmit)="onLogin()" class="box text-center">
      <input name="username" type="text" [(ngModel)]="account.username" class="form-control" placeholder="Username"
        autocomplete="off" required #username="ngModel">
      <div class="eye">
        <i [ngClass]="{'active': clicked}" class="far fa-eye" (click)="viewPWD()"></i>
        <input name="password" type="{{ toggleViewPWD }}" [(ngModel)]="account.password" class="form-control"
          placeholder="Password" autocomplete="off" required>
      </div>
      <div class="text-left">
        <span class="error" id="message">{{ message }}</span>
      </div>
      <button type="submit" class="btn btn-primary" value="Sign in">Sign in</button>
    </form>
    <div class="cantSignIn">
      <p (click)="problems()">Problems logging into your account?</p>
    </div>
  </div>

  <div class="footer">
    <span>Jarvis <i class="fas fa-ticket-alt"></i><a href="https://github.com/git"> by André Machado, Nuno Pêgo, Soraya
        Santos</a></span>
  </div>

</section>
