<div class="modal-header">
    <h4 class="modal-title pull-left">Create new <span>User</span></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="_modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #newUser="ngForm" (ngSubmit)="createNewUser()" class="new-user">
      <div class="d-flex flex-row">
      <!-- Name Field -->
      <div class="form-group" [class.is-invalid]="newName.invalid && newName.touched" [class.is-valid]="newName.valid">
        <div class="icon">
          <i class="fas fa-user-tie"></i>
          <input id="name" name="name" [(ngModel)]="account.name" type="text" class="form-control" placeholder="First and last Name"
            minlength="3" pattern="[a-zA-Z ]*" #newName="ngModel">
        </div>
        <span class="form-text" *ngIf="newName?.errors?.pattern && newName.touched">
          Only text is available
        </span>
        <span class="form-text" *ngIf="!newName?.errors?.pattern && newName?.errors?.minlength && newName.touched">
          Name required three caractheres minimum
        </span>
      </div>
      <!-- Username Field -->
      <div class="form-group" [class.is-invalid]="newUsername.invalid && newUsername.touched" [class.is-valid]="newUsername.valid">
        <div class="icon">
          <i class="fas fa-theater-masks"></i>
          <input id="username" name="username" [(ngModel)]="account.username" type="text" class="form-control"
            placeholder="Username" minlength="3" pattern="[a-zA-Z0-9 ]*" #newUsername="ngModel">
        </div>
        <span class="form-text marginLeftTenPx" *ngIf="newUsername?.errors?.pattern && newUsername.touched">
          Only text and numbers are available
        </span>
        <span class="form-text marginLeftTenPx" *ngIf="!newUsername?.errors?.pattern && newUsername?.errors?.minlength && newUsername.touched">
          Username required three caractheres minimum
        </span>
      </div>
    </div>
      <!-- Email Field -->
      <div class="form-group" [class.is-invalid]="newEmail.invalid && newEmail.touched" [class.is-valid]="newEmail.valid">
        <div class="icon">
          <i class="fas fa-envelope"></i>
          <input id="email" name="email" type="text" [(ngModel)]="account.email" type="text" class="form-control"
            placeholder="Email address" email #newEmail="ngModel">
        </div>
        <span class="form-text marginLeftTenPx" *ngIf="newEmail?.errors?.email && newEmail.touched">
          This type of email is invalid
        </span>
      </div>
      <div class="form-group">
        <select name="role" id="role" [(ngModel)]="role" class="form-control">
        <option *ngFor="let i of roles" value="{{ i }}">{{ i }}</option>
        </select>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btnSubmit">Create</button>
      </div>
    </form>
  </div>
