<div class="modal-edit-cinema">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Cinema</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="cinemaName" class="text-uppercase">Name of the cinema: </label>
            <input  id="cinemaName" name="cinemaName" type="text" [(ngModel)]="name" class="form-control" required>
          </div>
          <div class="row">
              <div class="form-group col-sm-12 col-md-1 col-lg-1"></div>
            <div class="form-group col-sm-12 col-md-11 col-lg-11">
                <label >Opening hours of the cinema: </label>
    
          <select  [(ngModel)]="openHour">
            <option *ngFor="let hour of hourOptions" >{{hour}}</option>
          </select>
          <label > H</label>
          <select  [(ngModel)]="openMinutes">
              <option *ngFor="let minutes of minutesOptions" >{{minutes}}</option>
            </select>
            <label > min</label>
          </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-1 col-lg-1"></div>
          <div class="form-group col-sm-12 col-md-11 col-lg-11">
              <label >Closing hours of the cinema: </label>
    
        <select  [(ngModel)]="closeHour">
          <option *ngFor="let hour of hourOptions" >{{hour}}</option>
        </select>
        <label > H</label>
        <select  [(ngModel)]="closeMinutes">
            <option *ngFor="let minutes of minutesOptions" >{{minutes}}</option>
          </select>
          <label > min</label>
        </div>
      </div>
      <div class="row">
          <div class="form-group col-sm-12 col-md-1 col-lg-1"></div>
        <div class="form-group col-sm-12 col-md-11 col-lg-11">
                <label for="break">Time between movies including break:</label>
                <select  [(ngModel)]="break">
                  <option *ngFor="let minutes of breakOptions" >{{minutes}}</option>
                </select>
              </div>   
            </div>  
          <button type="submit" class="btn btnSubmit float-right"(click)="editCinema()">Submit Changes</button>
      </div>
    </div>
    