<div class="modal-header">
  <h4 class="modal-title pull-left">Create a new <span>Movie</span></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form #newSearch="ngForm" (ngSubmit)="searchMovie()" class="new-user" *ngIf="!searchedMovie">

    <!-- Title Field -->
    <div class="form-group" [class.is-invalid]="newTitle.touched && newTitle.invalid" [class.is-valid]="newTitle.valid">
      <div class="icon">
        <i class="fas fa-film"></i>
        <input id="titleToSearch" name="titleToSearch" [(ngModel)]="titleToSearch" type="text" class="form-control"
          placeholder="Complete Title" minlength="1" required #newTitle="ngModel">
      </div>
      <span class="form-text" *ngIf="newTitle.touched && newTitle?.errors?.required">
        Title is required
      </span>
      <span class="form-text" *ngIf="newTitle.touched && newTitle?.errors?.minlength">
        Title required one caractheres minimum
      </span>
    </div>
    <div class="d-flex flex-row">
      <div class="error">
        {{ message }}
      </div>
      <!-- Year Field -->
      <div class="form-group">
        <select name="yearToSearch" id="yearToSearch" [(ngModel)]="yearToSearch" class="form-control">
          <option *ngFor="let i of years" value="{{ i }}">{{ i }}</option>
        </select>
      </div>
    </div>
    <!-- Submit Search -->
    <div class="text-center">
      <button type="submit" class="btn btnSubmit" [disabled]="newSearch.invalid">{{(newSearch.invalid)?
        'Please fill information' : 'Search'}}</button>
    </div>
  </form>
  <div *ngIf="movie$ | async as movie">
    <h3>{{movie.Title}}</h3>
    <p><b>Release at: </b>{{movie.Released}}</p>

    <div class="form-group">
      <div class="icon">
      <i class="fas fa-calendar-alt"></i>
      <input id="releaseDate" placeholder="Select range of exibitions days" [bsConfig]="datePickerConfig" bsDaterangepicker name="releaseDate" [(ngModel)]="releaseDate" type="text" class="form-control"
        required>
      </div>
    </div>

    <div class="form-group">
      <div class="d-flex flex-row">
      <p id="label"><b>Choose minimum age:</b></p>
      <select id="sel5" [(ngModel)]="minimumAge">
        <option>6</option>
        <option>8</option>
        <option>10</option>
        <option>12</option>
        <option>14</option>
        <option>16</option>
        <option>18</option>
      </select>
      </div>
    </div>
    <p class="error">{{error}}</p>
  </div>

  <div class="text-center" *ngIf="releaseDate.length > 0">
  <button *ngIf="movie$ | async as movie" type="submit" (click)="newMovie(movie)" class="btn btn-login btnSubmit">Create new</button>
  </div>
</div>
