<div class="modal-header">
    <h4 class="modal-title pull-left">New Movie</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body">
        <div class="form-group">
        <label for="inputTitle" class="text-uppercase">Title of the Movie: </label>
        <input  id="inputTitle" name="titleToSearch" type="text" class="form-control" [(ngModel)]="titleToSearch" placeholder="" required>
        </div>
        <div class="form-group">
        <label for="inputYear" class="text-uppercase">Release Year of the Movie: </label>
        <input  id="inputYear" name="yearToSearch" type="text" class="form-control" [(ngModel)]="yearToSearch" placeholder="" required>
        </div>
        <button (click)="searchMovie()">Search movie</button>
        <br><br>
        <div *ngIf="movie$ | async as movie">
        <p><b>Movie found: </b>{{movie.Title}}</p>
        <p><b>Release date of the movie found: </b>{{movie.Released}}</p>
        </div>
        <p><b>Release Date in my cinemas:</b></p>
        <div class="row">
          <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <label for="sel1">Day:</label>
            <select id="sel1" [(ngModel)]="dayRelease" >
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
            </select>
          </div>
          <div class="form-group col-sm-12 col-md-5 col-lg-5">
            <label for="sel2">Month:</label>
            <select id="sel2"[(ngModel)]="monthRelease">
              <option>January</option>
              <option>February</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
            </select>
          </div>
          <div class="form-group" class="col-sm-12 col-md-4 col-lg-4">
            <label for="sel3">Year:</label>
            <select id="sel3" [(ngModel)]="yearRelease">
              <option>2018</option>
              <option>2019</option>
              <option>2020</option>
              <option>2021</option>
              <option>2022</option>
              <option>2023</option>
              <option>2024</option>
              <option>2025</option>
              <option>2026</option>
              <option>2027</option>
              <option>2028</option>
              <option>2029</option>
              <option>2030</option>
              <option>2031</option>
              <option>2032</option>
              <option>2033</option>
              <option>2034</option>
              <option>2035</option>
              <option>2036</option>
              <option>2037</option>
              <option>2038</option>
              <option>2039</option>
              <option>2040</option>
              <option>2041</option>
              <option>2042</option>
              <option>2043</option>
              <option>2044</option>
              <option>2045</option>
              <option>2046</option>
              <option>2047</option>
              <option>2048</option>
              <option>2049</option>
              <option>2050</option>
            </select>
          </div>
        </div>
        <p><b>End Date in my cinemas:</b></p>
        <div class="row">
          <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <label for="sel4">Day:</label>
            <select id="sel4"[(ngModel)]="dayEnd">
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
            </select>
          </div>
          <div class="form-group col-sm-12 col-md-5 col-lg-5">
            <label for="sel5">Month:</label>
            <select id="sel5" [(ngModel)]="monthEnd">
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
            </select>
          </div>
          <div class="form-group" class="col-sm-12 col-md-4 col-lg-4">
            <label for="sel6">Year:</label>
            <select id="sel6" [(ngModel)]="yearEnd">
              <option>2019</option>
              <option>2020</option>
              <option>2021</option>
              <option>2022</option>
              <option>2023</option>
              <option>2024</option>
              <option>2025</option>
              <option>2026</option>
              <option>2027</option>
              <option>2028</option>
              <option>2029</option>
              <option>2030</option>
              <option>2031</option>
              <option>2032</option>
              <option>2033</option>
              <option>2034</option>
              <option>2035</option>
              <option>2036</option>
              <option>2037</option>
              <option>2038</option>
              <option>2039</option>
              <option>2040</option>
              <option>2041</option>
              <option>2042</option>
              <option>2043</option>
              <option>2044</option>
              <option>2045</option>
              <option>2046</option>
              <option>2047</option>
              <option>2048</option>
              <option>2049</option>
              <option>2050</option>
            </select>
          </div>
        </div>
    <button type="submit" (click)="newMovie()" class="btn btn-login float-right">Create</button>
    </div>
